* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(90deg ,rgba(39, 39, 227, 0.47) ,rgba(108, 135, 210, 0.585));
    font-family: 'Gill Sans', sans-serif;
}
.navbar img{
    height: 100px;
    width: 100px;
    mix-blend-mode: multiply;
    
}
nav {
    /* background-color: white; */
    display: flex;
    justify-content: center;
 
}

.container {

    margin: 20px 100px;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 80px;
    margin-bottom: 20px;
}
 h3 {
font-size: 25px;
opacity: 60%;
margin-bottom: 20px;
}



.d-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


label h3,label p,form input {
    margin: 8px 0px;
}


form input {
    height: 40px;
    width: 300px;
    font-size: 14px;
    
    border-radius: 5px;
    padding: 5px;
    transition: all 0.4s ease-in-out;
    background-color: rgba(255, 255, 255, 0.581);
    border: 2px solid black;
}
form input:focus {
    width: 450px;
}

.qrcode {
    padding: 10px 0px;
}

button {
    font-size: 16px;

    height: 40px;
    width: 250px;
    /* border: transparent; */
    border-radius: 10px;
    font-family: "Poppins",sans-serif;
    transition: all 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.762);

}

button:hover {
background-color: blanchedalmond;
box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, .2);

}

.qrcode img {
    mix-blend-mode: multiply;
}